---
layout: page
---
{% for category in site.categories %}
<div class="category">
  <label>{{ category[0] }}</label>
</div>
<section class="preview-collection">
    {% for post in site.posts %}
      <div class="preview-post">
        <a href="{{ post.url }}">
          <img src="{{ post.img }}" class="preview-post-cover" />
          <h2>
            {{ post.title }}
          </h2>
        </a>
        <p>
          {{ post.excerpt }}
        </p>
        <div class="preview-tags">
          <h4 class="preview-tags-title">Tags:</h4>
          {% for tag in site.tags %}
          <label class="preview-tags-label">{{ tag[0] }}</label>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </section>
{% endfor %}