.wrapper-header {
    display: flex;
    border: 0px;
    flex-direction: column-reverse;
    align-items: flex-end;

    @media (min-width: 800px) {
        align-items: baseline;
        justify-content: space-between;
        flex-direction: row;
        
    }
}

.logo-header {
    height: 40vw;
    @media (min-width: 800px) {
        height: 14vw;
    }
}

.intro {
    @media (min-width: 800px) {
        width: 29vw;
    }
}

.intro-title {
    font-size: 19.8vw;
    font-weight: 800;

    @media (min-width: 800px) {
        font-size: 4.8vw;
    }
}

.intro-text {
    font-size: 6.8vw;

    @media (min-width: 800px) {
        font-size: 1.8vw;
        font-weight: 100;
    }
}

.intro-button{
    text-transform: uppercase;
    color: black !important;
    background-color: #E0A32A;
    padding: 10px 30px;
}

.home-items {
    display: flex;
    flex-direction: column;
    margin-top: 30vw;

    @media (min-width: 800px) {
        justify-content: space-between;
        margin-top: 10vw;
        flex-direction: row;
    }
}

.item-icon {
    height: 40vw;
    align-self: center;

    @media (min-width: 800px) {
        height: 10vw;
    }
}

.item-button {
    text-transform: uppercase;
    color: black !important;
    background-color: #E0A32A;
    padding: 5px 37px;
}

.home-item {
    display: flex;
    flex-direction: column;
    font-size: 5.8vw;
    margin-top: 30vw;
    
    @media (min-width: 800px) {
        height: 30vw;
        width: 13vw;
        font-size: 1.3vw;
        font-weight: 100;
        margin-top: 0;
    }
}

.home-item-title {
    font-size: 7.8vw !important;

    @media (min-width: 800px) {
        font-size: 1.8vw !important;
    }
}